.search {
  position: absolute;
  top: 0;
  left: 0;
}
.frame,
.frame1 {
  width: 58px;
  overflow: hidden;
}
.frame1 {
  position: absolute;
  top: 210px;
  left: 0;
  height: 854px;
}
.frame {
  height: 1064px;
  position: relative;
  flex-shrink: 0;
  display: none;
  z-index: 0;
}
.profile {
  position: absolute;
  top: 0;
  left: 0;
}
.frame2,
.frame3 {
  width: 59px;
  overflow: hidden;
}
.frame3 {
  position: absolute;
  top: 210px;
  left: 0;
  height: 854px;
}
.frame2 {
  height: 1064px;
  position: relative;
  flex-shrink: 0;
  display: none;
  z-index: 1;
}
.calendar,
.frame5 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame5 {
  top: 210px;
  width: 79px;
  height: 854px;
  overflow: hidden;
}
.frame4,
.frame6,
.frame7,
.frame8 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.frame4 {
  width: 79px;
  height: 1064px;
  z-index: 2;
  color: var(--color-black);
}
.frame6,
.frame7,
.frame8 {
  width: 78px;
  height: 854px;
  z-index: 3;
}
.frame7,
.frame8 {
  width: 58px;
  z-index: 4;
}
.frame8 {
  width: 72px;
  z-index: 5;
}
.frame-icon {
  position: absolute;
  top: -125px;
  left: 0;
  width: 1311px;
  height: 1274px;
  overflow: hidden;
}
.parent-frame-child {
  position: absolute;
  top: 290px;
  left: 287px;
  width: 738px;
  height: 709px;
  object-fit: cover;
  z-index: 2;
}
.parent-frame {
  width: 1021px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
}
.about-us {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
  z-index: 1;
}
.about-us-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 23px 0 0;
}
.log-in,
.sign-up {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
  z-index: 1;
}
.sign-up {
  color: green;
  z-index: 2;
}
.frame-parent {
  margin: 0;
  width: 450px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-child {
  height: 65px;
  width: 333px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-darkseagreen);
  display: none;
  max-width: 100%;
}
.create-an-account {
  height: 52px;
  width: 230px;
  position: relative;
  font-size: var(--font-size-6xl);
  display: flex;
  font-family: var(--font-crimson-text);
  color: var(--color-white);
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  z-index: 4;
}
.frame9,
.rectangle-parent {
  display: flex;
  flex-direction: row;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: 7px 36px 6px 67px;
  background-color: var(--color-darkseagreen);
  border-radius: var(--br-xl);
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 100%;
}
.rectangle-parent:hover {
  background-color: rgba(120, 135, 84, 0.76);
}
.frame9 {
  height: 782px;
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 391px);
  right: -183px;
  overflow: hidden;
  align-items: flex-end;
  justify-content: flex-start;
  z-index: 2;
}
.img-4058-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 242px;
  height: 200px;
  object-fit: cover;
}
.frame-item {
  height: 36px;
  flex: 1;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
}
.frame11 {
  position: absolute;
  top: 136px;
  left: 23px;
  width: 215px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 716px;
  box-sizing: border-box;
  z-index: 5;
}
.frame10 {
  height: 1032px;
  width: 242px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.header-frame {
  width: 215px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.connect-learn,
.grow {
  margin: 0;
}
.connect-learn-grow-container {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.transformative-journey-text {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: 100px;
  color: #f5f8fa;
}
.a-vibrant-hub {
  flex: 1;
  position: relative;
  display: inline-block;
  font-weight: 700;
  max-width: 100%;
  z-index: 4;
}
.a-vibrant-hub-of-growth-conne-wrapper {
  width: 672px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.embark-on-a,
.engage-directly-with,
.expand-your-skills,
.seize-boundless-opportunities {
  margin: 0;
}
.embark-on-a-container1 {
  width: 100%;
}
.embark-on-a-container {
  width: 738px;
  height: 212px;
  position: relative;
  display: flex;
  font-family: var(--font-crimson-text);
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 4;
}
.main-content-frame,
.skill-bridge-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.main-content-frame {
  width: 1203px;
  flex-direction: column;
  gap: 17px 0;
}
.skill-bridge-text {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--font-size-6xl);
  font-family: var(--font-playfair-display);
}
.skillbridge {
  margin: 0;
  height: 98px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing-page,
.skill-bridge-logo-frame {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.skill-bridge-logo-frame {
  width: 259px;
  height: 1053px;
  margin: 0 !important;
  position: absolute;
  top: -128px;
  left: 7px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-210xl) 0 var(--padding-210xl) 5px;
  z-index: 6;
  font-size: 36px;
  color: var(--color-cornflowerblue);
  font-family: var(--font-playfair-display);
}
.landing-page {
  width: 100%;
  position: relative;
  background-color: var(--color-cornflowerblue);
  flex-direction: column;
  align-items: flex-end;
  padding: 57px 70px 241px 50px;
  gap: 115px 0;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-crimson-text);
}
@media screen and (max-width: 750px) {
  .connect-learn-grow-container {
    font-size: 50px;
  }
  .skillbridge {
    font-size: 29px;
  }
  .landing-page {
    gap: 57px 0;
    padding-left: 25px;
    padding-right: 35px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .calendar,
  .profile,
  .search {
    font-size: var(--font-size-base);
  }
  .connect-learn-grow-container {
    font-size: 30px;
  }
  .a-vibrant-hub,
  .embark-on-a-container {
    font-size: var(--font-size-xl);
  }
  .skillbridge {
    font-size: 22px;
  }
  .landing-page {
    gap: 29px 0;
  }
}
