.frame,
.frame1 {
  position: absolute;
  top: -129px;
  left: 3px;
  width: 259px;
  height: 1053px;
  overflow: hidden;
}
.frame1 {
  top: -125px;
  left: 103px;
  width: 1201px;
  height: 947px;
}
.logo-1-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 202px;
  flex-shrink: 0;
  object-fit: cover;
}
.logo {
  position: absolute;
  top: -8px;
  left: 0;
  width: 242px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.frame4,
.green-vector-icon {
  position: absolute;
  top: -103px;
  left: 45px;
  width: 1396px;
  height: 1118px;
  overflow: hidden;
}
.frame4 {
  top: -164px;
  left: 25px;
  width: 1201px;
  height: 620px;
}
.building-bridges-for {
  width: 668px;
  position: relative;
  display: flex;
  font-weight: 700;
  align-items: center;
  height: 69px;
  flex-shrink: 0;
}
.frame5 {
  position: absolute;
  top: -408px;
  left: 0;
  width: 875px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 434px 26px;
  box-sizing: border-box;
}
.embark-on-a,
.engage-directly-with,
.expand-your-skills,
.seize-boundless-opportunities {
  margin: 0;
}
.embark-on-a-container1 {
  width: 100%;
}
.embark-on-a-container {
  position: absolute;
  top: 115px;
  left: 26px;
  font-size: var(--m-bold-size);
  display: flex;
  font-family: var(--font-crimson-text);
  align-items: center;
  width: 738px;
  height: 212px;
}
.frame3 {
  position: absolute;
  top: 417px;
  left: -12px;
  width: 756px;
  height: 488px;
  overflow: hidden;
}
.connect-learn,
.grow {
  margin: 0;
}
.connect-learn-grow-container {
  position: absolute;
  top: 194px;
  left: 18px;
  font-size: var(--font-size-81xl);
  display: inline-block;
  color: var(--color-whitesmoke);
  width: 1201px;
  height: 429px;
}
.frame2 {
  position: absolute;
  top: 0;
  left: 23px;
  width: 971px;
  height: 858px;
  overflow: hidden;
}
.app-store-2,
.play-1-icon {
  width: 296px;
  position: relative;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
}
.download-buttons {
  position: absolute;
  top: 831px;
  left: 32px;
  width: 658px;
  height: 93px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 9px 12px var(--padding-4xl);
  box-sizing: border-box;
  gap: 34px;
}
.jumping-picture-icon {
  position: absolute;
  top: 265px;
  left: 0;
  width: 738px;
  height: 709px;
  object-fit: cover;
}
.about-us {
  position: absolute;
  top: 10px;
  left: 301px;
  font-weight: 500;
  cursor: pointer;
}
.frame7,
.frame8 {
  position: absolute;
  top: 144px;
  left: 23px;
  width: 738px;
  height: 974px;
  overflow: hidden;
}
.frame8 {
  top: 0;
  left: 58px;
  width: 230px;
  height: 1022px;
}
.frame-child {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-cornflowerblue);
  width: 235px;
  position: relative;
  border-radius: var(--br-xl);
  height: 65px;
}
.frame9 {
  position: absolute;
  top: 246px;
  left: 29px;
  width: 241px;
  height: 782px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  mix-blend-mode: normal;
}
.login {
  width: 219px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  flex-shrink: 0;
  cursor: pointer;
}
.create-account-button {
  position: absolute;
  top: 252px;
  left: 20px;
  width: 268px;
  height: 770px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 17px;
  box-sizing: border-box;
}
.create-acc-button {
  position: absolute;
  top: -826px;
  left: 473px;
  width: 288px;
  height: 1028px;
  text-align: center;
  color: var(--neutral-10);
  font-family: var(--font-crimson-text);
}
.frame6,
.top-page {
  position: absolute;
  overflow: hidden;
}
.frame6 {
  top: -103px;
  left: 690px;
  width: 1447px;
  height: 1100px;
  color: var(--color-black);
  font-family: var(--s-regular);
}
.top-page {
  top: 0;
  left: 0;
  background-color: var(--color-cornflowerblue);
  width: 1441px;
  height: 1024px;
}
.start-bridging-now {
  position: absolute;
  top: 279px;
  left: 130px;
  display: inline-block;
  width: 1150px;
  height: 362px;
}
.app-store-1,
.play-2-icon {
  width: 359px;
  position: relative;
  height: 97px;
  object-fit: cover;
  cursor: pointer;
}
.app-store-1-parent,
.frame-item {
  position: absolute;
  overflow: hidden;
}
.app-store-1-parent {
  top: 418px;
  left: 297px;
  width: 993px;
  height: 243px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) 24px;
  box-sizing: border-box;
  gap: 30px;
}
.frame-item {
  top: 948px;
  left: 1342px;
  width: 526px;
  height: 86px;
}
.privacy-policy,
.skillbridge {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 904px;
  left: -44px;
  font-size: var(--button-heading-size);
  font-weight: 700;
  font-family: var(--font-inria-serif);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 487px;
  height: 65px;
}
.skillbridge {
  top: 817px;
  left: 26px;
  font-size: var(--font-size-29xl);
  letter-spacing: -0.01em;
  line-height: 100%;
  font-weight: 500;
  font-family: var(--font-newsreader);
  color: var(--neutral-10);
  text-align: left;
  width: 403px;
  height: 94px;
}
.supporting-text,
.text {
  align-self: stretch;
  position: relative;
}
.text {
  line-height: 32px;
  font-weight: 600;
}
.supporting-text {
  font-size: var(--s-regular-size);
  line-height: 24px;
}
.contact-text,
.text-and-supporting-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-and-supporting-text {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.contact-text {
  width: 342.8px;
  flex-direction: row;
}
.supporting-text1,
.text1 {
  align-self: stretch;
  position: relative;
}
.text1 {
  line-height: 32px;
  font-weight: 600;
}
.supporting-text1 {
  font-size: var(--s-regular-size);
  line-height: 24px;
}
.text-and-supporting-text1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.contact-text1,
.content,
.text-and-supporting-text1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-text1 {
  width: 342.8px;
  flex-direction: row;
}
.content {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.supporting-text2,
.text2 {
  align-self: stretch;
  position: relative;
}
.text2 {
  line-height: 32px;
  font-weight: 600;
}
.supporting-text2 {
  font-size: var(--s-regular-size);
  line-height: 24px;
}
.contact-text2,
.text-and-supporting-text2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-and-supporting-text2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.contact-text2 {
  width: 342.8px;
  flex-direction: row;
}
.supporting-text3,
.text3 {
  align-self: stretch;
  position: relative;
}
.text3 {
  line-height: 32px;
  font-weight: 600;
}
.supporting-text3 {
  font-size: var(--s-regular-size);
  line-height: 24px;
}
.text-and-supporting-text3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.contact-text3 {
  width: 342.8px;
  flex-direction: row;
}
.contact-text3,
.container,
.content1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.container {
  position: absolute;
  top: 768px;
  left: 653px;
  width: 756px;
  flex-direction: row;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-45xl);
  text-align: left;
  font-size: var(--m-bold-size);
  color: var(--color-black);
  font-family: var(--s-regular);
}
.start-bridging-now-parent {
  position: absolute;
  top: 1080px;
  left: 0;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}
.connect-with-students,
.search-for-your,
.set-up-your {
  position: absolute;
  top: 750px;
  left: 28px;
  display: inline-block;
  width: 433px;
  height: 185px;
}
.connect-with-students,
.set-up-your {
  top: 730px;
  left: 481px;
  width: 535px;
}
.set-up-your {
  top: 760px;
  left: 1016px;
  width: 399px;
}
.gradient,
.middle-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1080px;
  overflow: hidden;
  font-size: var(--font-size-36xl);
}
.gradient {
  top: 1024px;
  left: -4px;
  background: linear-gradient(
    180deg,
    #a7c9de,
    #125e8d 0.01%,
    #1da1f2 0.02%,
    #a7c9de 99.99%,
    #115d8c
  );
  height: 2216px;
  text-align: center;
  font-size: var(--font-size-81xl);
}
.profile-page-1 {
  position: absolute;
  top: 1115px;
  left: 570px;
  width: 371px;
  height: 623px;
  object-fit: cover;
}
.calender-page-final-1,
.search-page-1 {
  position: absolute;
  top: 1100px;
  left: 82px;
  width: 347px;
  height: 638px;
  object-fit: cover;
}
.calender-page-final-1 {
  top: 1085px;
  left: 1064px;
  width: 317px;
  height: 653px;
}
.landing-page {
  width: 100%;
  position: relative;
  height: 3072px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--neutral-10);
  font-family: var(--font-playfair-display);
}
