.frame,
.frame1 {
  position: absolute;
  top: -129px;
  left: 3px;
  width: 259px;
  height: 1053px;
  overflow: hidden;
}
.frame1 {
  top: -125px;
  left: 103px;
  width: 1201px;
  height: 947px;
}
.logo-icon {
  top: 0;
  width: 242px;
  height: 200px;
  object-fit: cover;
}
.frame-child,
.frame2,
.logo-icon {
  position: absolute;
  left: 0;
}
.frame2 {
  top: 121px;
  width: 242px;
  height: 1032px;
  overflow: hidden;
}
.frame-child {
  top: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 215px;
  height: 36px;
}
.skillbridge {
  position: absolute;
  top: 100px;
  left: 23px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 235px;
  height: 98px;
}
.frame3,
.logo,
.logo1,
.skillbridge-wrapper {
  position: absolute;
  top: -132px;
  left: 4px;
  width: 1916px;
  height: 1081px;
  overflow: hidden;
}
.frame3,
.logo,
.logo1 {
  top: 261px;
  left: 0;
  width: 325px;
  height: 36px;
}
.logo,
.logo1 {
  top: -4px;
  left: 23px;
  width: 215px;
  height: 1013px;
}
.logo {
  top: -129px;
  left: -27px;
  width: 242px;
  height: 331px;
  font-size: var(--font-size-17xl);
}
.frame6,
.green-vector-icon {
  position: absolute;
  top: -103px;
  left: 45px;
  width: 1396px;
  height: 1118px;
  overflow: hidden;
}
.frame6 {
  top: -164px;
  left: 25px;
  width: 1201px;
  height: 620px;
}
.a-vibrant-hub {
  position: absolute;
  top: 517px;
  left: 28px;
  display: flex;
  font-weight: 700;
  align-items: center;
  width: 668px;
  height: 69px;
}
.frame7 {
  position: absolute;
  top: -408px;
  left: 0;
  width: 875px;
  height: 1005px;
  overflow: hidden;
}
.embark-on-a,
.engage-directly-with,
.expand-your-skills,
.seize-boundless-opportunities {
  margin: 0;
}
.embark-on-a-container1 {
  width: 100%;
}
.embark-on-a-container {
  position: absolute;
  top: 197px;
  left: 27px;
  display: flex;
  font-family: var(--font-crimson-text);
  align-items: center;
  width: 738px;
  height: 212px;
}
.frame5 {
  position: absolute;
  top: 363px;
  left: -12px;
  width: 756px;
  height: 542px;
  overflow: hidden;
}
.connect-learn,
.grow {
  margin: 0;
}
.connect-learn-grow-container {
  position: absolute;
  top: 194px;
  left: 18px;
  font-size: var(--font-size-81xl);
  display: inline-block;
  color: var(--color-whitesmoke);
  width: 1201px;
  height: 429px;
}
.frame-wrapper,
.frame4 {
  position: absolute;
  top: 0;
  width: 971px;
  height: 858px;
}
.frame4 {
  left: 0;
  overflow: hidden;
}
.frame-wrapper {
  left: 23px;
  color: var(--color-white);
}
.app-store-2,
.play-1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 12px;
  left: 23px;
  width: 296px;
  height: 80px;
  background-image: url(./public/app-store-2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.play-1 {
  left: 353px;
  background-image: url(./public/play-1@3x.png);
}
.download-buttons {
  position: absolute;
  top: 831px;
  left: 32px;
  width: 658px;
  height: 147px;
  overflow: hidden;
}
.jumping-picture-icon {
  position: absolute;
  top: 265px;
  left: 0;
  width: 738px;
  height: 709px;
  object-fit: cover;
}
.about,
.faq {
  position: absolute;
  top: 12px;
  left: 321px;
  font-weight: 500;
}
.about {
  left: 144px;
}
.frame10,
.frame9 {
  position: absolute;
  top: 144px;
  left: 23px;
  width: 738px;
  height: 974px;
  overflow: hidden;
}
.frame10 {
  top: 0;
  left: 58px;
  width: 230px;
  height: 1022px;
}
.frame-item {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-cornflowerblue);
  position: absolute;
  top: 717px;
  left: 0;
  border-radius: var(--br-xl);
  width: 235px;
  height: 65px;
}
.frame11 {
  position: absolute;
  top: 246px;
  left: 29px;
  width: 241px;
  height: 782px;
  overflow: hidden;
  mix-blend-mode: normal;
}
.create-an-account {
  position: absolute;
  top: 718px;
  left: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 219px;
  height: 52px;
}
.create-account-button {
  position: absolute;
  top: 252px;
  left: 20px;
  width: 268px;
  height: 770px;
  overflow: hidden;
}
.create-acc-button {
  position: absolute;
  top: -826px;
  left: 473px;
  width: 288px;
  height: 1028px;
  text-align: center;
  color: var(--color-white);
  font-family: var(--font-crimson-text);
}
.frame8,
.top-page {
  position: absolute;
  overflow: hidden;
}
.frame8 {
  top: -103px;
  left: 690px;
  width: 1447px;
  height: 1100px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.top-page {
  top: 0;
  left: 0;
  background-color: var(--color-cornflowerblue);
  width: 1441px;
  height: 1024px;
}
.start-bridging-now {
  position: absolute;
  top: 276px;
  left: 173px;
  display: inline-block;
  width: 1150px;
  height: 362px;
}
.app-store-1,
.play-2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 25px;
  left: 24px;
  width: 359px;
  height: 97px;
  background-image: url(./public/app-store-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.play-2 {
  left: 413px;
  background-image: url(./public/play-2@3x.png);
}
.app-store-1-parent,
.frame-inner {
  position: absolute;
  top: 424px;
  left: 349px;
  width: 993px;
  height: 243px;
  overflow: hidden;
}
.frame-inner {
  top: 948px;
  left: 1342px;
  width: 526px;
  height: 86px;
}
.privacy-policy,
.skillbridge1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  display: inline-block;
}
.privacy-policy {
  top: 905px;
  left: 990px;
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-family: var(--font-inria-serif);
  color: var(--color-black);
  text-align: center;
  width: 487px;
  height: 65px;
}
.skillbridge1 {
  top: 891px;
  left: 28px;
  font-size: 48px;
  letter-spacing: -0.01em;
  line-height: 100%;
  font-weight: 500;
  font-family: var(--font-newsreader);
  color: var(--color-white);
  text-align: left;
  width: 403px;
  height: 94px;
}
.start-bridging-now-parent {
  position: absolute;
  top: 1080px;
  left: 0;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}
.connect-with-students,
.search-for-your,
.set-up-your {
  position: absolute;
  top: 750px;
  left: 28px;
  display: inline-block;
  width: 433px;
  height: 185px;
}
.connect-with-students,
.set-up-your {
  top: 730px;
  left: 481px;
  width: 535px;
}
.set-up-your {
  top: 760px;
  left: 1016px;
  width: 399px;
}
.gradient,
.middle-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1080px;
  overflow: hidden;
  font-size: var(--font-size-36xl);
}
.gradient {
  top: 1024px;
  left: -4px;
  background: linear-gradient(
    180deg,
    #a7c9de,
    #125e8d 0.01%,
    #1da1f2 0.02%,
    #a7c9de 99.99%,
    #115d8c
  );
  height: 2216px;
  text-align: center;
  font-size: var(--font-size-81xl);
  color: var(--color-white);
}
.profile-page-1 {
  position: absolute;
  top: 1115px;
  left: 570px;
  width: 371px;
  height: 623px;
  object-fit: cover;
}
.calender-page-final-1,
.search-page-1 {
  position: absolute;
  top: 1100px;
  left: 82px;
  width: 347px;
  height: 638px;
  object-fit: cover;
}
.calender-page-final-1 {
  top: 1085px;
  left: 1064px;
  width: 317px;
  height: 653px;
}
.landing-page {
  width: 100%;
  position: relative;
  height: 3072px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-cornflowerblue);
  font-family: var(--font-playfair-display);
}
